.TodoList {
    margin-bottom: 20px;
  }
  
  .TodoList h2 {
    text-align: center;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    padding: 10px;
    background: #f9f9f9;
    margin-bottom: 5px;
    border: 1px solid #ddd;
  }
  